<div id="order-comment">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {intl l="Commentaire sur cette commande" d="adminordercomment.bo.default"}
            </h3>
        </div>

        <div class="panel-body">
            {form name="admin.order.comment.form"}
            <form method="post" action="{url path="/admin/adminordercomment/update"}">
                {form_hidden_fields}
                <input type="hidden" name="order_id" value="{$order_id}">

                {render_form_field field="comment" show_label=false value=$comment}

                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-xs">{intl l="Mettre à jour" d="adminordercomment.bo.default"}</button>
                </div>
            {/form}
            </form>
        </div>
    </div>
</div>
